<h1>Workout log</h1>
<main>
  <div>
    otw
  </div>
  <form id="userForm">
    <div class="mb-3">
      <label for="userNameInput" class="form-label">Username</label>
      <input type="text" class="form-control" id="userNameInput" name="username" aria-describedby="usernameHelp">
      <div id="usernameHelp" class="form-text">Enter your username.</div>
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailInput" name="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>
<section class="container row">
  <ul>
    {{#each actualUserData as |data|}}
    <li class="col-3">
      <a href="/dashboard/{{data.id}}">
        {{data.username}}
      </a>
    </li>
    {{/each}}
  </ul>
</section>
<script src="/public/js/index.js"></script>
